<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
          <a href="#" class="text-white font-bold text-xl">TO DO </a>
          <div class="hidden md:flex space-x-4">
            <a href="{% url '' %}" class="text-white hover:text-blue-300"
              >ADD TASK</a
            >
            <a href="{% url '' %}" class="text-white hover:text-blue-300"
              >SHOW TASK</a
            >
            <a href="{% url '' %}" class="text-white hover:text-blue-300"
              >COMPLETE TASK</a
            >
          </div>
</body>
</html>